<!DOCTYPE html>
<html>
<head>
  <title>Test Application</title>
  <!-- custom stylesheet -->
<style>
body{
  padding: 0px;
  margin: 0px;
  background-color: black;
}

nav{
  position: fixed;
  background-color: black;
  width: 100%;
  height: 50px;
  z-index : 100;
}

.parallax
{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#page1{
  padding: 15%;
  background-color: white;
  height: 700px;
}
#page2{
  height: 600px;
  background-color: black;
  color: white;
}
#page3{
  padding: 2%;
  height:auto;
  background-color:white;
}
#page4{
  height: 700px;
  background-color: black;
  color:white;
}
#welcome{
  display:none;
  font-family: "Helvetica","Times New Roman", "Jokerman";
  font-size: 7em;
  transition-duration: 1s;
}
.caption{
  background-color: black;
  padding: 20px;
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
}
.caption:hover{
  background-color: white;
  color:black;
}
.services
{
  padding: 10px;
  border-style: solid;
  transition-duration: 0.2s;
}
.services:hover{
  background-color: grey;
  padding: 2px;
}
 h1 #intro1,
#intro2 h2,
#intro3 h3
{
  padding: 10%;
  background-color: red;
}
</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<!-- BootStrap added -->

<script>

    var $welcomeText = $("#welcome");
    $(window).on('load', function () {
    console.log("lol");
    $("#welcome").fadeIn(1000);
    animatedIntro();
  });
</script>
</head>
<body>
  <!-- Navigation Bar Goes here -->
  <nav>
    <button type="button" class="btn-default">Home</button>

    <button type="button" class="btn-default">Services</button>

    <button type="button" class="btn-default">Contact Us</button>
  </nav>
