<% include partials/header %>

<div class="container">
  <div class="row page parallax" id = "page1"> <!-- 1ST ROW -->
    <div class="col-md-4">
      <img src="https://scontent.fdel9-1.fna.fbcdn.net/v/t1.0-9/16998755_1396436910387266_3986752650468020515_n.jpg?_nc_cat=0&oh=63f751121f8072b8b4c4dd9e95bf1736&oe=5B44915D" width="50%" class="img-responsive">
    </div>
    <div class="col-md-8">
    <center>  <h1 id="welcome">Welcome</h1> </center>
    </div>
  </div> <!-- 1st row -->

  <div class="row page parallax" id = "page2"> <!-- 2nd row -->
    <div class="container-fluid col-md-12">
      <center>
      <h1 id="#intro1"> SK Travels and Logistics </h1>
      <h2 id="#intro2"> Some introduction text here </h2>
      <h3 id="#intro3"> Another introduction text goes here </h3>
      </center>
    </div>
  </div>

  <div class="row page" id="page3"> <!-- 3rd row -->
    <div class="container-fluid col-md-12 col-sm-12">
      <center><h1> Services </h1> </center>
      <!-- Services Grid view -->
      <div class="row container-fluid"> <!-- 1st row of services -->
        <div class="col-md-6 services">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://static.giantbomb.com/uploads/original/0/815/1409368-kcocw.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <center><h4>Car Renting</h4></center>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
        <div class="col-md-6 services">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <center><h4>Wedding Car Renting</h4></center>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
      </div>
      <div class="row container-fluid"> <!-- 2nd row of services -->
        <div class="col-md-12 services">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="http://www.3dre.com/Data/Projects/delta_planes_02/gallery/lj_01-b.jpg" alt="Lights" style="width:100%;">
            <div class="caption">
              <center><h1>Aviation</h1></center>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
      </div>
  <div class="row page" id="page4"> <!-- 4rth row -->
    <div class="col-lg-12">
      <center><h1> Contact Us </h1></center>
    </div>
    <div class="col-lg-8">
      999919119123 <br>
      Rajan Sharma <br>
      SK TRAVEL AND LOGISICS
    </div>

</div>

<% include partials/footer %>
