<!DOCTYPE html>
<html>
<head>
  <title>Test Application</title>
  <!-- custom stylesheet -->
<style>
.page
{

}
#page1{
  padding: 15%;
  background-color: #424242;
}
#page2{
  height: 600px;
  background-color: #efefef;
}    
#page3{
  padding: 2%;
  height:auto;
  background-color:#aebfbe;
}
#page4{
  height: 700px;
  background-color: #bdc192;
}
#welcome{
  background-color: blue;
  display:none;
}
#welcome{
  display:none;
}
/*
#intro1
{
  display: none;
  padding-bottom: 10%;
}
*/
#intro1
{
/*  display: none;*/
  padding: 10%;
  color: red;
}
</style>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<!-- BootStrap added -->


<script>

    var $welcomeText = $("#welcome");
    $(window).on('load', function () {
    console.log("lol");
    $("#welcome").show(1200,"linear", function(){
      $("#intro1").show(1000, "linear")
    });
    animatedIntro();
  });
</script>
</head>
<body>
