<% include partials/header %>
<!--<div class="container">-->
  <div class="row page" id = "page1"> <!-- 1ST ROW -->
    <div class="col-md-4">
      <img src="https://scontent.fdel9-1.fna.fbcdn.net/v/t1.0-9/16998755_1396436910387266_3986752650468020515_n.jpg?_nc_cat=0&oh=63f751121f8072b8b4c4dd9e95bf1736&oe=5B44915D" width="50%" class="img-responsive">
    </div>
    <div class="col-md-8">
    <center>  <h1 id="welcome">Welcome</h1> </center>
    </div>
  </div> <!-- 1st row -->

  <div class="row page" id = "page2"> <!-- 2nd row -->
    <div class="container-fluid col-md-12">
      <center>
      <h1 id="intro1"> SK Travels and Logistics </h1>
      <h2 id="intro2"> Some introduction text here </h2>
      <h3 id="intro3"> Another introduction text goes here </h3>
      </center>
    </div>
  </div>

  <div class="row page" id="page3"> <!-- 3rd row -->
    <div class="container-fluid col-md-12 col-sm-12">
      <center><h1> Services We Offer </h1> </center>
      <!-- Services Grid view -->
      <div class="row container-fluid"> <!-- 1st row of services -->
        <!-- 3 services -->
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://static.giantbomb.com/uploads/original/0/815/1409368-kcocw.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Car Renting...</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Service 2</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.walldevil.com/wallpapers/w02/808303-amg-bokeh-cars-gran-turismo-gran-turismo-5-gt-gt5-mercedes-benz-mercedes-benz-sls-amg-reflections-streets.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Service 3</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>

      </div>
      <div class="row container-fluid"> <!-- 2nd row of services -->
        <!-- 3 services -->
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>service 4.</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Service 5.</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Service 6...</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>

      </div>
      <div class="row container-fluid"> <!-- 3rd row of services -->
        <!-- 3 services -->
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Service 7.</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Service 8.</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg">
            <img src="https://www.gtplanet.net/wp-content/uploads/2009/10/toyota-ft-86-gt5-2.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Service 9.</p>
            </div><!-- END OF CAPTION -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>  <!-- 3rd row -->

  <div class="row page" id="page4"> <!-- 4rth row -->
    <div class="col-lg-12">
      <center><h1> Contact Us </h1></center>
    </div>
    <div class="col-lg-8">
      999919119123 <br>
      Rajan Sharma <br>
      SK TRAVEL AND LOGISICS
    </div>

</div>

<% include partials/footer %>
